<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RAKSHAK D.S.</title>
    <link rel="icon" href="logo.ico" type="image/x-icon">
    <meta name="description" content="">
    <meta name="keywords" content="">   
  </head>
  

  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
               <center> <img src="{{ url_for('video_feed') }}"></center>
            </div>
        </div>
    </div>
    </body>


</html>
